/*
    Components: animations
    ---
*/
///////////////////////
// ANIMATION PAPERSTACK
///////////////////////

.c-scatter__animation {
    width: 260px;
    height: 300px;
    position: relative;
    margin: 4rem auto;

    img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 260px;
    }

    @include mq(bp3) {
        width: 320px;
        height: 380px;

        img {
            width: 320px;
        }
    }
}

.c-paperstack {
    background-image: url('../images/svg/paper-stack.svg');
    width: 60px;
    height: 114px;
    position: absolute;
    top: 95px;
    right: 0;
    z-index: 1000;

    @include mq(bp3) {
        width: 70px;
        height: 102px;
        top: 166px;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes wobble {
    0% {
        transform: none;
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    100% {
        transform: none;
    }
}

.wobble {
    animation-name: wobble;
}


///////////////////////
// ANIMATION PAPERSHEET
///////////////////////

.c-papersheet-wrapper {
    position: absolute;
    bottom: 250px;
    right: 50%;

    width: 200px;
    height: 300px;

    pointer-events: none;
}

.c-papersheet {
    width: 80px;
    height: 80px;
    background-image: url('../images/svg/paper-sheet.svg');
    background-repeat: no-repeat;
    outline: none !important;
    display: block;
    position: absolute;
}

.c-papersheet2 {
    background-image: url('../images/svg/paper-sheet2.svg');
}

@keyframes bounce {
    0% {
        transform: translate(0, 0) rotate3d(0, 0, 1, 0deg);
    }

    70% {
        transform: translate(0, 250px) rotate3d(0, 0, 1, 90deg);
    }

    100% {
        transform: translate(0, 0) rotate3d(0, 0, 1, 0deg);
    }
}

.bounce {
    animation: bounce 6s ease infinite;
    float: right;
    left: 25%;
    top: 40%;
}

.bounce2 {
    animation: bounce 9s ease infinite;
    left: 75%;
    top: 50%;
}

.bounce3 {
    animation: bounce 11s ease infinite;
    left: 120%;
    top: 30%;
    width: 70px;
    height: 70px;
}

// BAR GRAPH

$numberOfBars: 29;
$barHeights: 54, 57, 59, 60, 60, 59, 56, 53, 49, 45, 41, 36, 32, 29, 27, 25, 25, 26, 27, 30, 34, 38, 42, 46, 50, 54, 57,
    59, 60;
$barInnerHeights: 35, 32, 28, 26, 22, 19, 17, 17, 19, 22, 26, 30, 33, 35, 35, 33, 30, 26, 22, 19, 17, 17, 19, 22, 26, 30,
    33, 35, 35;
$introAnimationDelay: 50ms;

.c-sp {

    &__graph {
        height: 400px;
        position: relative;
    }

    &__bars {
        bottom: 0;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        width: 200%;

        @include mq(bp3) {
            width: 154%;
        }

        @include mq(bp4) {
            width: 100%;
        }
    }

    &__bar {
        animation: expandHeight 250ms 0ms ease-in-out forwards 1;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        transform: translateY(100%);
        width: (100% / $numberOfBars);

        > span {
            background: black;
            bottom: 0;
            display: block;
            height: 100%;
            left: calc(50% - 2.5px);
            position: absolute;
            transition: height 600ms ease-out;
            width: 5px;

            &::after {
                background-color: red;
                bottom: 0;
                content: '';
                display: block;
                height: 0%;
                left: 0;
                position: absolute;
                transition: height 400ms ease-out;
                width: 100%;
            }
        }

        &:hover {
            > span {
                height: 110% !important;
                transition: height 50ms linear;

                &::after {
                    height: 100% !important;
                    transition: height 50ms linear;
                }
            }
        }
    }

    @for $i from 1 through $numberOfBars {
        &__bar:nth-child(#{$i}) {
            animation-delay: 500ms + ($i * $introAnimationDelay);
            content: $i;
            height: nth($barHeights, $i) + 1%;
            left: (100% / $numberOfBars) * ($i - 1);

            > span::after {
                height: (nth($barInnerHeights, $i) + 1%) * 1.6;
            }
        }
    }
}

@keyframes expandHeight {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

.u-crossfade {
    display: grid;

    > div {
        transition: opacity 1s ease-in-out;
        grid-area: 1 / 1 / 1 / 1;

        &:last-child {
            animation-name: FadeInOut;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-direction: alternate;
        }
    }
}
  

  @keyframes FadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
  }