/*
    Components: intro
    ---
*/

.c-hero {
    //text-align: center;
    @include padding-lr(1.5,1.5);

    @include mq(bp3) {
        @include padding-lr(2,0);
    }

    > h1 {
        margin-bottom: 2rem;
    }
}

.c-hero__tags {
    font-family: $h5-font-family;
    font-weight: $h5-font-weight;
    @include text-dimensions($h5-font-size,$h5-line-height);
    @include margin-bottom($h5-margin-bottom);
    letter-spacing: .025em;
}
