/*
    Components: link
    ---
*/

.c-link {
    position: relative;
    text-decoration: none;
    color: palette(color-neutral);
    font-weight: 700;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -.1rem;
        height: 1px;
        border-bottom: 1px solid rgba(46,61,73,0.3);
        transition: border-bottom .3s ease-in-out;
    }

    &:hover {
        &:after {
            border-bottom: 1px solid rgba(palette(color-neutral),1);
        }
    }
}
